html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #4f8db8;
  color: #0d2b41; }
  html body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative; }
    html body #doc {
      background-color: #FFFFFF;
      height: 100%;
      border-right: 10px solid #3a6e91;
      border-left: 10px solid #3a6e91; }
      html body #doc #hd {
        text-align: center; }
